name: Build Project

on:
  pull_request:
    branches: [main, master, develop]
  push:
    branches: [main, master, develop]
    tags: ["*"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' || github.ref != 'refs/heads/master' || github.ref != 'refs/heads/develop' }}

defaults:
  run:
    shell: bash

jobs:
  macos-build:
    name: macOS Build

    runs-on: macos-15
    timeout-minutes: 30

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Read metadata
        id: metadata
        run: |
          {
            echo "buildspec<<EOF"
            jq -c . buildspec.json
            echo "EOF"
          } >> "$GITHUB_OUTPUT"
          echo "ImageVersion=$ImageVersion" >> "$GITHUB_OUTPUT"

      - name: Install dependencies via Homebrew
        run: brew install -q cmake xcbeautify

      - name: Set up vcpkg
        run: echo "VCPKG_ROOT=$VCPKG_INSTALLATION_ROOT" >> "$GITHUB_ENV"

      - name: Install dependencies from vcpkg
        run: .github/scripts/install-vcpkg-macos.bash

      - name: Restore libobs cache
        uses: actions/cache/restore@v5
        id: libobs-cache
        with:
          path: |
            .deps/Frameworks
            .deps/include
            .deps/lib
            .deps/obs-studio-${{ fromJson(steps.metadata.outputs.buildspec).dependencies.obs-studio.version }}
          key: ${{ runner.os }}-libobs-${{ hashFiles('buildspec.json') }}-${{ runner.arch }}-${{ steps.metadata.outputs.ImageVersion }}

      - name: Download dependencies without obs-studio
        if: steps.libobs-cache.outputs.cache-hit == 'true'
        run: cmake -DWITH_OBS_STUDIO=OFF -P scripts/download-deps.cmake

      - name: Download dependencies
        if: steps.libobs-cache.outputs.cache-hit != 'true'
        env:
          ENABLE_XCBEAUTIFY: true
        run: cmake -P scripts/download-deps.cmake

      - name: Build libobs
        if: steps.libobs-cache.outputs.cache-hit != 'true'
        run: scripts/build-obs-studio-macos.sh 2>&1 | tee Build_libobs.log | xcbeautify

      - name: Configure
        run: cmake --preset macos

      - name: Build
        run: cmake --build --preset macos 2>&1 | tee Build.log | xcbeautify

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ${{ fromJson(steps.metadata.outputs.buildspec).name }}-bundle-macos-universal-${{ github.run_number }}
          path: build_macos/rundir/RelWithDebInfo/*.plugin
          if-no-files-found: error

      - name: Upload Raw Build Log
        if: always()
        continue-on-error: true
        uses: actions/upload-artifact@v6
        with:
          name: ${{ runner.os }}-build-rawlogs-${{ github.run_number }}
          path: "*.log"

  ubuntu-build:
    name: Ubuntu Build

    runs-on: ubuntu-24.04
    timeout-minutes: 30

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install system dependencies on Ubuntu
        run: |
          echo "man-db man-db/auto-update boolean false" | sudo debconf-set-selections
          sudo apt-get remove --purge -y man-db
          sudo add-apt-repository -y ppa:obsproject/obs-studio
          sudo apt-get update
          sudo apt-get install -y eatmydata
          sudo eatmydata apt-get install -y --no-install-recommends \
            cmake \
            libgles2-mesa-dev \
            libqt6svg6-dev \
            libsimde-dev \
            ninja-build \
            obs-studio \
            pkg-config \
            qt6-base-dev \
            qt6-base-private-dev

      - name: Set up vcpkg
        run: echo "VCPKG_ROOT=$VCPKG_INSTALLATION_ROOT" >> "$GITHUB_ENV"

      - name: Install dependencies from vcpkg
        run: $VCPKG_ROOT/vcpkg install --triplet x64-linux-obs

      - name: Configure
        run: cmake --preset ubuntu-x86_64

      - name: Build
        run: cmake --build --preset ubuntu-x86_64

  windows-build:
    name: Windows Build

    runs-on: windows-2022

    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Read metadata
        id: metadata
        shell: bash
        run: |
          {
            echo "buildspec<<EOF"
            jq -c . buildspec.json
            echo "EOF"
          } >> "$GITHUB_OUTPUT"
          echo "ImageVersion=$ImageVersion" >> "$GITHUB_OUTPUT"

      - name: Set up vcpkg
        run: echo "VCPKG_ROOT=$VCPKG_INSTALLATION_ROOT" >> "$GITHUB_ENV"

      - name: Install dependencies from vcpkg
        shell: bash
        run: $VCPKG_ROOT/vcpkg install --triplet x64-windows-static-md-obs

      - name: Restore libobs cache
        uses: actions/cache/restore@v5
        id: libobs-cache
        with:
          path: |
            .deps/bin
            .deps/cmake
            .deps/include
            .deps/lib
            .deps/obs-studio-${{ fromJson(steps.metadata.outputs.buildspec).dependencies.obs-studio.version }}
          key: ${{ runner.os }}-libobs-${{ hashFiles('buildspec.json') }}-${{ runner.arch }}-${{ steps.metadata.outputs.ImageVersion }}

      - name: Download dependencies without obs-studio
        if: steps.libobs-cache.outputs.cache-hit == 'true'
        run: cmake -DWITH_OBS_STUDIO=OFF -P scripts/download-deps.cmake

      - name: Download dependencies
        if: steps.libobs-cache.outputs.cache-hit != 'true'
        run: cmake -P scripts/download-deps.cmake

      - name: Build libobs
        if: steps.libobs-cache.outputs.cache-hit != 'true'
        shell: pwsh
        run: ./scripts/build-obs-studio-windows.ps1

      - name: Configure
        run: cmake --preset windows-x64

      - name: Build
        run: cmake --build --preset windows-x64

      - name: Package
        shell: pwsh
        run: ./scripts/package-plugin-windows.ps1

      - name: Upload Binary
        uses: actions/upload-artifact@v6
        with:
          name: ${{ fromJson(steps.metadata.outputs.buildspec).name }}-binary-windows-x64-${{ github.run_number }}
          path: release/${{ fromJson(steps.metadata.outputs.buildspec).name }}-${{ fromJson(steps.metadata.outputs.buildspec).version }}-windows-x64.zip

      - name: Upload PDB
        uses: actions/upload-artifact@v6
        with:
          name: ${{ fromJson(steps.metadata.outputs.buildspec).name }}-binary-windows-x64-${{ github.run_number }}-pdb
          path: release/${{ fromJson(steps.metadata.outputs.buildspec).name }}-${{ fromJson(steps.metadata.outputs.buildspec).version }}-windows-x64-pdb.zip
